
#koptext
{
  font-size: 60px ;
  color: black;
  
}
#text
{
  font-size: 25px ;
  color: black;
}
body {
  background: url('image/Background3.jpg') no-repeat center center fixed; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height:100%;
}

/*
-webkit-background-size: cover;
-moz-background-size: cover;
background-size: cover;
-o-background-size: cover;
*/

