html {
  text-decoration: none;
}
#koptext
{
  font-size: 60px ;
  color: white;
  text-align: center
  
}
#text
{
  font-size: 25px ;
  color: white;
  text-align: center
}

body {
  background-size: cover;
  background-color: black;
  height:100%;
}

#AnimationHText
{
  color: black; 
  font-family: "arial";
  font-size: 60px ;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 4s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
#AnimationPText
{
  color: black; 
  font-family: "arial";
  font-size: 3em;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  animation: animtext 3s steps(80, end); 
  transition: all cubic-bezier(0.1, 0.7, 1.0, 0.1);
}
@keyframes animtext 
{ 
  from {
    width: 0;
    transition: all 2s ease-in-out;
  } 
}
#button
{
  background:    #ff0000;
  border-radius: 17px;
  padding:       20px 45px;
  color:         #ffffff;
  display:       inline-block;
  font:          italic bold 26px/1 "Open Sans", sans-serif;
  text-align:    center;
}



